
.main{
    width: 100;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}

.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    width: 160px;
    cursor: pointer;
    margin-top: -3;
    margin-left: -2;

}

ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(3, 52, 52);
    margin-top: -3%;
    transition: .4s ease;
}

ul li a:hover{
    color: red;
}

.info{
    margin-left: 7%;
    margin-top: 6%;
}

.info h1{
    font-size: 65px;
    color: rgb(red, green, blue);
    padding-left: 20px;
}

.inf h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}

body{
    background-color: lightblue;
    background-image: url(/Project/wallpaper.jpg);
    background-size: 100% 100%;
}

img{
    display: block;
    margin: auto;
}
h4,p{
    text-align: center;

}

h4{
    color: rgb(88, 12, 12);
}