body{
    background-color: black;
}

div{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

h1{
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-transform: uppercase;
}

img{
    width: 100%;
    border: 5px solid white;
}